@import url("https://fonts.googleapis.com/css2?family=Scheherazade+New&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap");

.employee-wrapper,
.business-wrapper {
  height: fit-content;
  padding: 55px 0;
  color: rgb(230, 230, 230);
  font-family: "Almarai", serif;
  word-spacing: 5px;
}
.business-wrapper {
  text-align: right;
}

ul {
  width: fit-content;
  text-align: left;
}

h3 {
  color: rgb(124, 164, 0);
}

h4 {
  color: #f9f871;
  font-size: 34px;
  font-weight: 200;
  padding-top: 55px;
  font-weight: bold;
  text-align: right;
}

h5 {
  color: #f9f871;
  line-height: 34px;
  font-size: 21px;
  font-weight: 200;
}

.business {
  display: flex;
  flex-direction: column;
  gap: 34px;
}

.programs {
  display: flex;
  flex-direction: row;
  gap: 34px;
}

.brand-development h4 {
  margin: 0 auto;
}

.brand-development {
  margin: 0 auto;
  width: 62.2vw;
}
